body{
    background-color: aqua;
}
h1{
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}
.container{
    text-align: center;

}
.container img{
    width: 80%;
    height: auto;
    border-radius: 40px;
    shape-image-threshold: inherit;
    box-shadow: inherit;
}